<h1>What would you like your username to be?</h1>
<div class = "form-container">
	<div class = "form-group">
		<%= form_for(@user) do |f| %>
		<div class = "col-xs-4">
		<%= f.label :name%>
		<div>
		<%= f.text_field :name, class: "form-control"%>
		<br>
		<%= f.submit "Create User", class: "btn btn-primary form-control"%>
		<%end%>
	</div>
</div>