@import "bootstrap-sprockets";
@import "bootstrap";

h1 {
	text-align:center;
}

ul {
	list-style:none;
}

.navbar-brand a{
	padding:8px;
}

.center {
	text-align:center;
}

/* Forms */

.form-container {
	width:50%;
}

/* Events */

.event {
	border-top:solid gray 1px;
	padding:10px;
	margin-bottom:10px;
	margin-top:10px;
}
